/* Estilos personalizados para la tarjeta */
.custom-card {
	background-image: linear-gradient(to bottom, #e14942 60%, #ffc130);
	/* Degradado en el color de fondo */
	color: #fff;
	/* Color del texto */
	border-radius: 10px;
	/* Borde redondeado */
	width: 260px;
	/* Altura fija */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .custom-card img {
	width: 130px;
	height: 180px; 
	/* Altura fija de la imagen */
	object-fit: cover;
	/* Ajustar la imagen dentro de la caja */
	border-radius: 50%;
	/* Hacer la imagen circular */
	margin-top: 15px;
	/*border: 1px solid #ffc130; /* Borde para enmarcar la imagen */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* Sombra para enmarcar la imagen */
  }

  .tittle{
    width: 100%; 
    color:#ffc130; 
    text-align: center;
} 

.teamNav{
	background-color: var(--grey);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
} 


#navega{ 
    height: 80px;
    width: 55%;
    margin: 50px auto;
    background-color:var(--text-secondary);
    margin-bottom: 10px;
	border-radius: 50px;
} 

#navega ul{
    list-style: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 35px;
}  

#menu > li{
    position: relative;
    display: inline-block;
} 
#menu > li > a{
    display: block;
    padding: 15px 20px;
    color: black; 
    font-family: cursive; 
    text-decoration: none;
} 


#menu li a:hover{
    color: crimson; 
    transform: all .3s; 

}  
